.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Photo {
  float: left;
  width: 50%;
  /* height: 600px; */
}
.Photo img {
  width: 100%;
  height: 100%;
}
.Desc {
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 16px;
}
.Desc .Info {
  line-height: 1.4;
}
.Desc .Cate {
  color: red;
}
.Desc a {
  display: inline-block;
  background: black;
  color: white;
  padding: 12px;
}
.Desc a:hover {
  background: black;
  color: white;
}
.Desc ul li {
  padding-bottom: 8px;
}
.ReviewBox {
  clear: both;
  width: 100%;
  overflow: hidden;
}
.ReviewBox h2 {
  margin-top: 12px;
}
.ReviewBox img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  float: left;
  margin-right: 8px;
}
.ReviewBox .User p, h3 {
  margin: 0;
}
.ReviewBox .User h3 {
  padding-top: 8px;
}
.ReviewBox .Item {
  width: 80px;
  overflow: hidden;
  margin-bottom: 8px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
